services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME:-elearning_db}
      - POSTGRES_USER=${DB_USER:-elearning_user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-Umarfaruq123}
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=${DB_NAME:-elearning_db}
      - DB_USER=${DB_USER:-elearning_user}
      - DB_PASSWORD=${DB_PASSWORD:-Umarfaruq123}
      - DB_HOST=db
      - DB_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-localhost,127.0.0.1}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A backend worker -l info
    depends_on:
      - db
      - redis
    environment:
      - DB_NAME=${DB_NAME:-elearning_db}
      - DB_USER=${DB_USER:-elearning_user}
      - DB_PASSWORD=${DB_PASSWORD:-Umarfaruq123}
      - DB_HOST=db
      - CELERY_BROKER_URL=redis://redis:6379/0

volumes:
  postgres_data:
